{% extends "base.html" %}
{% block title %}Open Inventory{% endblock %}
{% block content %}
<div class="starter-template">
  <h1>Welcome to Open Inventory</h1>
  <p class="lead">Open Inventory is a modest inventory management system based off the <a href="https://github.com/zxing/zxing">zxing barcode scanning library</a>. You can get the Android App <a href="https://play.google.com/store/apps/details?id=com.appspot.openinventory">here</a>.</p>
</div>
{% endblock %}