{% extends "base.html" %}
{% block title %}Open Inventory{% endblock %}
{% block head %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
<table class="table">
	<thead>
		<tr>
			<th>Total</th>
			<th>Name</th>
			<th>UPC</th>
		</tr>
	</thead>
	<tbody>
		{% for item in results %}
		<tr>
			<td>{{ item.inventory }}</td>
			<td><a href="#" id="editableName" data-type="text" data-pk="{{ item.guid() }}" data-url="/p/uname" data-title="Product Name" data-name="name">{{ item.name }}</a></td>
			<td>{{ item.upc }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
{% block footer %}
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script>
$(document).ready(function() {
    $('#editableName').editable();
});
</script>
{% endblock %}